@{
    ViewData["Title"] = "Home Page";
}


<div class="home-main-panel">
    <div class="home-welcome">
        <h1>Manutenção e reparação de viaturas</h1>
        <p>Fazemos todo o tipo de reparação e revisão.<br>Reparações de mecânica e eletrónica multimarca.</p>
        <p>Inspeção à porta? Nós tratamos de tudo!</p>
        <p><strong>FluvAuto</strong>, a oficina.</p>
    </div>
    <div class="home-contact-panel">
        <h2>Contactos e Localização</h2>
        <div class="urgency-label">Urgências</div>
        <a href="#" class="urgency-btn">
            <span style="font-size:1.3em;">&#9888;</span> Ligar com urgência?
        </a>
        <div class="address">Rua do Flúvio nº 97, Tomar</div>
    </div>
</div>
