@{
    ViewData["Title"] = "Desenvolvimento Web 2024/2025";
}
<div class="text-center text-white">
    <h1>@ViewData["Title"]</h1>

    <h2>Licenciatura em Engenharia Informática</h2>
    <p>João Campos nº 25269<br />
        Tiago Ferreira nº 23412</p>

    <h3>Bibliotecas, frameworks e código de terceiros</h3>
    <ul class="list-unstyled">
        <li>ASP.NET Core MVC</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <li>acrescentar Swagger, signalR etc.</li>
    </ul>

    <p>meter símbolo ipt</p>
</div>
