@model FluvAuto.Models.Marcacao

@{
    ViewData["Title"] = "Create";
}

<h1>Nova marcação</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataMarcacaoFeita" class="control-label"></label>
                <input asp-for="DataMarcacaoFeita" class="form-control" />
                <span asp-validation-for="DataMarcacaoFeita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servico" class="control-label"></label>
                <input asp-for="Servico" class="form-control" />
                <span asp-validation-for="Servico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViaturaFK" class="control-label"></label>
                <select asp-for="ViaturaFK" class ="form-control" asp-items="ViewBag.ViaturaFK"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Marcar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("admin") || User.IsInRole("funcionario"))
    {
        <a asp-action="Index">Voltar à lista</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="UserPage">Voltar à lista</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
